@import 'normalize.css'

view-height = 710px
view-width = 960px
left-width = view-width - view-height - 20

body
	background url(../img/dark_wood.png)
	text-shadow 0 0 1px rgba(255,255,255,.6)

section
	background #999
	height view-height
	padding 10px
	width view-width
	border-radius 5px
	box-shadow 0 0 20px #aaa
	position fixed
	top 50%
	left 50%
	position absolute
	margin-top -(view-height/2)
	margin-left -(view-width/2)


.left-block
	float left
	height view-height
	padding 5px
	width left-width

.count
	font-size view-height*.08
	height view-height*.1
	line-height view-height*.1
	margin 0 auto
	text-align center
	box-shadow 0 5px 5px #555, 0 -3px 5px #555
	border-radius 5px
	font-weight bold

.player-info
	height view-height*.3
	margin 10px auto
	box-shadow 0 5px 5px #555, 0 -3px 5px #555 
	border-radius 5px
	padding 10px
	position relative
	input
		background #bbb
		border none
		border-radius 5px
		box-shadow inset 0 1px 1px #000, inset 0 -1px 1px #000
		color red
		display block;
		margin 0 auto;
		padding 3px 5px
		text-align center
		width left-width*.8
		font-weight bold
	.name
	.time
	.destroy-count-text
		margin 5px auto;
		font-size view-height*.03
		height view-height*.03
		line-height view-height*.03
		text-align center
		font-weight bold
	.destroy-count-text
		margin-top view-height*.05
	.destroy-count
		position absolute
		bottom 5px
		width left-width*.9
		font-size view-height*.1
		height view-height*.15
		line-height view-height*.15
		text-align center

.start-button
	font-weight bold
	height view-height*.1
	margin 30px auto
	font-size view-height*.04
	line-height view-height*.1
	text-align center
	line-height view-height*.1
	box-shadow inset 0 1px 5px 2px #777, 0 5px 5px #555,inset 0 0 20px 1px #eee 
	border-radius 5px
	cursor pointer
	&:active
	&:hover
		box-shadow 0 1px 5px 2px #777,inset 0 5px 5px #555

content
	border-radius 5px
	float right
	height view-height
	overflow hidden
	width view-height
	position relative
.cover-board
	position absolute
	height 100%
	width 100%
	background rgba(0,0,0,.8)
	text-align center
	cursor pointer
	font-size (view-height*.07)
	.start-checkers 
		position absolute
		color #666
		height (view-height/2)
		width 100%
		top 50%
		margin-top -(view-height/4)

.row:nth-child(2n) 
	.field:nth-child(even) 
		background url(../img/sv_kletka.gif) no-repeat
		background-size cover
.row:nth-child(2n) 
	.field:nth-child(odd) 
		background url(../img/tem_kletka.gif) no-repeat
		background-size cover
.row:nth-child(2n-1) 
	.field:nth-child(odd) 
		background url(../img/sv_kletka.gif) no-repeat
		background-size cover
.row:nth-child(2n-1) 
	.field:nth-child(even) 
		background url(../img/tem_kletka.gif) no-repeat
		background-size cover

.row:first-child .field:first-child,
.row:first-child .field:last-child,
.row:last-child .field:first-child,
.row:last-child .field:last-child
	height 20px
	width 20px
	background url(../img/sv_kletka.gif) no-repeat !important
	background-size cover !important

.row:first-child .field,
.row:last-child .field
	width ((view-height - 40)/8)
	height 20px
	line-height 20px
	background url(../img/sv_kletka.gif) no-repeat !important
	background-size cover !important
	box-shadow none

.field:first-child,
.field:last-child
	width 20px
	height ((view-height - 40)/8)
	line-height ((view-height - 40)/8)
	box-shadow none
	background url(../img/sv_kletka.gif) no-repeat !important
	background-size cover !important

.field
	float left
	height ((view-height - 40)/8)
	margin 0
	padding 0
	width ((view-height - 40)/8)
	text-align center
	font-size view-height*.03
	box-shadow inset 0 0px 1px 2px #000
.dark-draught
	background url(../img/checkers.png) no-repeat 0 0
	background-size ((view-height - 40)/4)
	height ((view-height - 40)/8)
	width ((view-height - 40)/8)
	border-radius 50%
.white-draught
	@extend .dark-draught
	background-position-x -((view-height - 35)/8)
.quin
	background-position-y -((view-height - 35)/8)
.can-move
	box-shadow inset 0 0px 10px 2px green
	cursor pointer
.selected
	box-shadow inset 0 0px 10px 2px red
.posible-move
	box-shadow  inset 0 0px 1px 2px #000,inset 0 0 20px 5px yellow
	cursor pointer


@media only screen and (max-width:1060px)
	.left-block
		display none
	section
		width view-height
		margin-top -(view-height/2)
		margin-left -(view-height/2)

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) 
	body
		background url(../img/dark_wood_@2X.png)
		background-size 50%