<div class="board">
    <div class="row" ng-repeat="line in board track by $index">
        <div class="field" ng-class="{'posible-move':field.posibleMove}" ng-repeat="field in line" ng-click="moveHandler($index, $parent.$index)">
            <span ng-show="field.unreacheble">{{field.value}}</span>

                <div ng-show="field.value.y==$parent.$index&&field.value.x==$index" class="{{field.value.viewClass}}" ng-class="{'can-move':field.value.canMove, 'selected':field.value.selected}">
                </div>

        </div>
    </div>
</div>
